{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <section class="container-fluid">
        <div id='script-warning'>
            <code>php/get-events.php</code> must be running.
        </div>

        <div id='external-events'>
            <h4>Draggable Events</h4>
            <div id='external-events-list'>
                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                    <div class='fc-event-main'>Maman</div>
                </div>
                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                    <div class='fc-event-main'>Papa</div>
                </div>
            </div>
            <p>
                <input type='checkbox' id='drop-remove' />
                <label for='drop-remove'>remove after drop</label>
            </p>
        </div>


        <div id='calendar'></div>
    </section>
</div>

{% endblock %}
